{#
/*
 * This file is part of EC-CUBE
 *
 * Copyright(c) LOCKON CO.,LTD. All Rights Reserved.
 *
 * http://www.lockon.co.jp/
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
<script type="text/javascript">
    $(function () {
        $(".btn-group").append($("#listing-ad").html());
    });
</script>

<div class="dropdown" id="listing-ad">
    <button class="btn btn-ec-regular dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-cog mr-1 text-secondary"></i><span>{{ 'listing_ad_csv.drop_down.button'|trans }}</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{{ url('ListingAdCsv_export', {type : 'google'}) }}">{{ 'listing_ad_csv.drop_down.google'|trans }}</a>
        <a class="dropdown-item" href="{{ url('ListingAdCsv_export', {type : 'yahoo'}) }}">{{ 'listing_ad_csv.drop_down.yahoo'|trans }}</a>
    </div>
</div>
